celery
flower
redis
docopt
grabbit
-e git+https://github.com/bids-standard/pybids.git#egg=pybids
duecredit
pandas
patsy
matplotlib
nistats
nilearn
sklearn
networkx==1.9
nibabel
scipy
matplotlib
nistats
nilearn
fitlins
sklearn
