celery
flower
redis
docopt
-e git+https://github.com/grabbles/grabbit.git#egg=grabbit
-e git+https://github.com/bids-standard/pybids.git@refactor-derivs#egg=pybids
duecredit
pandas
patsy
matplotlib
nistats
nilearn
sklearn
networkx==1.9
nibabel
scipy
matplotlib
nistats
nilearn
fitlins
sklearn
