language: python
python:
  - "3.6"
install:
  - pip install -r neuroscout/requirements.txt
  - pip install -e git+https://github.com/tyarkoni/pliers.git#egg=pliers
  - pip install pytest-cov
script:
  - python -m pytest tests/ --cov=./
  - cd frontend && npm test
env:
- APP_SETTINGS=config.app.TravisConfig PYTHONHASHSEED=0
addons:
  postgresql: "9.4"
cache: yarn
before_script:
  - cp neuroscout/config/example_app.py neuroscout/config/app.py
  - cp neuroscout/frontend/src/config.ts.example neuroscout/frontend/src/config.ts
  - psql -c 'create database travis_ci_test;' -U postgres
  - CI=""; cd neuroscout/frontend && yarn install --concurrency=1 && yarn build --concurrency=1
  - CI="true"; cd ../
  - python -m pliers.support.download
before_install:
  - bash <(wget -q -O- http://neuro.debian.net/_files/neurodebian-travis.sh)
  - sudo apt-get -qq update
  - sudo apt-get install -yq git-annex-standalone tesseract-ocr

apt:
  sources:
    - sourceline: 'deb https://dl.yarnpkg.com/debian/ stable main'
      key_url: 'https://dl.yarnpkg.com/debian/pubkey.gpg'
  packages:
    - yarn
after_success:
  - bash <(curl -s https://codecov.io/bash)
