language: python
python:
  - "3.5"
install:
  - pip install -r neuroscout/requirements.txt
  - pip install pytest-cov
script:
  - PYTHONPATH="neuroscout/" python -m pytest neuroscout/ --cov=./
  - cd neuroscout/frontend && npm test
env:
- APP_SETTINGS=config.app.TravisConfig
addons:
  postgresql: "9.4"
cache: yarn
before_script:
  - cp neuroscout/config/example_app.py neuroscout/config/app.py
  - psql -c 'create database travis_ci_test;' -U postgres
  - CI=""; cd neuroscout/frontend && yarn install --concurrency=1 && yarn build --concurrency=1
  - CI="true"; cd ../../
before_install:
  - bash <(wget -q -O- http://neuro.debian.net/_files/neurodebian-travis.sh)
  - sudo apt-get install -yq git-annex-standalone
apt:
  sources:
    - sourceline: 'deb https://dl.yarnpkg.com/debian/ stable main'
      key_url: 'https://dl.yarnpkg.com/debian/pubkey.gpg'
  packages:
    - yarn
after_success:
  - bash <(curl -s https://codecov.io/bash)
