@import '~antd/dist/antd.css';

/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Login-col {
  float: right;
}

.homeBtn {
    justify-content: center;
}

.nextButton {
  float: right;
}

body {
    background-color: white;
}

.builderTabs {
    padding-bottom: 50px;
}

.builderCol {
    padding: 0 10px 0 10px;
}

.mainCol {
    padding: 0 0px 0 0px;
}

pre {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.privateSwitch {
    text-align: center;
    padding-right: 10px;
    display: inline-block;
}

.headerRow {
    padding-top: 20px;
}

.ant-layout {
    background-color: white;
}

.statusHeader {
    float: right;
    display: inline-block;
}

.splashLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 36%;
}

.splashText {
  text-align: center;
  font-size: 25px;
}

.footerText {
  text-align: center;
  font-size: 5px;
}

.splashButtonParent {
  text-align: center;
}
.splashButton {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 23%;
  font-size: 16px;
  margin: 10px;
}

.headerAvatar>.anticon {
  margin-right: 0px;
}
