@import '~antd/dist/antd.css';

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
    background-color: white;
}

pre {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
}


.Login-col {
  float: right;
}

.homeBtn {
    justify-content: center;
}

.nextButton {
  float: right;
}

.privateSwitch {
    text-align: center;
    padding-right: 10px;
    display: inline-block;
}

.builderTabs {
    padding-bottom: 50px;
}

.builderCol {
    padding: 0 10px 0 10px;
}

.mainCol {
    padding: 0 0px 0 0px;
}

.headerRow {
    padding-top: 20px;
}

.ant-layout {
    background-color: white;
}

.statusHeader {
    float: right;
    display: inline-block;
}

.splashLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 36%;
}

.splashText {
  text-align: center;
  font-size: 25px;
}

.footerText {
  text-align: center;
  font-size: 12px;
}

.splashButtonParent {
  text-align: center;
}
.splashButton {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 23%;
  font-size: 16px;
  margin: 10px;
}

.headerAvatar>.anticon {
  margin-right: 0px;
}

.unselectedXform {
}

.selectedXform {
    box-shadow: 0 0 5px rgba(80, 200, 240, 1);
}

.contrast-type-form-item {
    margin-bottom: 0px;
}

.designMatrix {
    max-width: 100%;
    max-height: 80vh;
}

.recordName {
    word-break: break-all;
}

.runSelectorContainer {
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.runSelectorBtn {
    margin: 10px 0 0 0;
    float: right;
}

.viewTitle {
  font-size: 16px;
  height: 32px;
  padding: 0px 15px;
} 

.plotRunSelectorContainer {
    display: flex;
    margin: 10px 0;
}

.plotRunSelector {
    flex: 1;
}

.plotRunSelectorBtn {
    margin: 0 0 0 10px;
    float: right;
}

.profileHeader {
    font-size: 16px;
    font-weight: 500;
}

.profileName {
    margin: 0 0 0 10px;
}
