altair
alembic==1.3.1
apispec==1.1.0
appdirs==1.4.3
blinker==1.4
celery
citeproc-py==0.4.0
citeproc-py-styles==0.1.1
datalad==0.10.2
decorator==4.0.11
docopt==0.6.2
duecredit==0.6.1
pybids==0.10.1
-e git+https://github.com/neurolearn/pynv#egg=pynv
Flask==1.1.1
flask-apispec==0.8.0
Flask-Caching==1.3.3
Flask-cors==3.0.2
Flask-JWT==0.3.2
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==2.0.3
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.5
Flask-SQLAlchemy==2.4
Flask-WTF==0.14.2
google-api-python-client
grabbit
gunicorn==19.7.1
hashids==1.2.0
imageio==2.5.0
imageio-ffmpeg
ipython==6.2.1
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==1.0
marshmallow==2.19.1
moviepy==0.2.3.5
nibabel==2.1.0
nltk==3.2.2
numpy==1.18.0
olefile==0.44
packaging==16.8
pandas==0.23
passlib==1.7.1
patsy
Pillow==6.2.0
progressbar2
psycopg2==2.8.3
py==1.4.33
PyJWT==1.4.2
pyld==0.7.3
pyparsing==2.2.0
pytest==3.0.7
python-dateutil==2.6.0
python-magic==0.4.13
pytz==2017.2
redis
requests==2.21.0
setuptools==45
scipy
sentry-sdk[flask]==0.13
soundfile
pytesseract
SQLAlchemy==1.3.0
tqdm==4.11.2
webargs>=0.18.0,<6.0.0
Werkzeug==0.15.3
WTForms==2.1
xlrd
